/* TYPOGRAPHY */
.ps-h1 {
    margin: 0;
    font-size: 24px;
}
.ps-app {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.ps-side-bar {
    display: flex;
    flex-direction: column;
    flex: 300px 0 0;
    border-right: 1px solid #E5E6E1;
    background-color: #FAFAFA;
}

.ps-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ps-header {
    flex: 50px 0 0;
    padding: 10px 20px;
    border-bottom: 1px solid #E5E6E1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ps-header .ant-badge-dot {
    top: 5px;
    right: 5px;
}

.ps-side-bar__header {
    flex: 50px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ps-body {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.ps-items-panel {
    position: relative;
    flex: 300px 0 0;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 2px 0px 55px -20px rgba(0, 0, 0, 0.05),
                0px 0px 15px -5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.ps-items-panel__container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 10000px;
    transition: transform .3s ease;
}

.ps-items-panel__level {
    flex: 300px 0 0;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    overflow-y: auto;
}

.ps-item-container {
    flex: 1;
    overflow-y: auto;
}

.ps-search .ant-input {
    border-radius: 50px 0 0 50px;
}

.ps-search .ant-btn {
    border-radius: 0 50px 50px 0 !important;
}

.ps-search-results {
    flex: 1;
    padding: 20px 20px 0;
    overflow-y: auto;
}

.ps-items-panel__search {
    padding: 0 20px;
    background-color: #FFF;
}
    
.ps-items-panel__search .ant-input-group-wrapper {
    transform: translate3d(0, 20px, 0);
    position: relative;
    z-index: 1;
    border-radius: 50px;
    box-shadow: 0 2px 8px -5px rgba(0, 0, 0, 0.2);
}

.ps-items-panel__header {
    flex: 50px 0 0;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
}

.ps-items-panel__cta {
    padding: 0 20px 20px;
}

.ps-items-panel__cta .ant-btn-primary {
    width: 100%;
}

.ps-page-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ps-page__header {
    flex: 60px 0 0;
    padding: 20px;
    border-bottom: 1px solid #E5E6E1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.ps-form {
    flex: 1;
    overflow-y: auto;
}

.ps-page__footer {
    flex: 60px 0 0;
    padding: 20px;
    border-top: 1px solid #E5E6E1;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #FAFAFA;
}
